html {height:100%}
body {height: 94%}
header {position:fixed;top:0;left:0;right:0;z-index: 99999}
#main {margin-top:50px;height:100%}
.text-center {margin-top: 80px}
.modal-dialog {margin-top: 40px}
h1 {font-size: 1.75em}
.header:before {padding: 0px; padding-left: 1.5em; content:""; background-image: url(../img/sardinia.png);
background-position: left center; background-repeat: no-repeat;background-size: 20px 20px;}
.navbar-default {background-color: #0066ff}
.navbar-brand {color: #fff !important} 

/* left menu */
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
menu {
  display: block;
}
menu > div {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
menu > div.left {
  background: #fff;
  left: -250px;
}
menu > div.show.left {
   margin-top:60px;
  transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
}
menu > div.right {
  background: #fff;
  right: -250px;
}
menu > div.show.right {
  transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
}
menu > div > menu-item {
  display: block;
}
menu > div > menu-item > div {
  /*float: left;*/
  width: 100%;
  margin: 0;
  padding: 15px 30px;
  border-bottom: solid 1px #555;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #232323;
  font-weight: bold;
}
menu > div > menu-item > div:hover {
  color: #232323;
  
}
menu > div > menu-item > div > span {
  float: right;
  color: inherit;
  padding-right: 1.0em;
}

/* main sites list */
.mainlist {margin: .25em; list-style-type: none;width: 98%;max-width:600px !important; padding: 0px; margin: auto;-webkit-box-shadow: 0 1px 3px rgba(41,41,41,0.2);-moz-box-shadow: 0 1px 3px rgba(41,41,41,0.2);
box-shadow: 0 1px 3px rgba(41,41,41,0.2);-webkit-border-radius: .6em;border-radius: .6em;display: block;color: #000000;font-size: 1em;}
.mainlist > li {display: block;position: relative;padding: 10px;overflow: auto;background: #ffffff;border-bottom: #dddddd 1px solid;max-width:100%}
.mainlist > li h2 {text-align: left;font-size: 1.5em; margin-top: 0px}
.mainlist > li img {padding: 0 15px 0 0;width:40%; max-width: 355px; -webkit-border-radius: .6em;border-radius: .6em;min-width:180px;margin-bottom:30px}
.mainlist > li p {text-align: left; font-size: 1em;font-weight: 400;margin: 0;}
.mainlist > li p em {font-weight: 600}

.toleft {float:left}
.toright {float:right}
.txtcenter {text-align: center}
.txtbold {font-weight:600}
.wid100 {max-width:455px !important; width: 100% !important;padding: 0px !important;margin-bottom: 10px;}
.textbox, .infobox {padding-top: 10px}
.infobox {background-color: #e4e4e4 !important}

.mainbtn {width: 25%; min-width: 150px; border: 1px solid #555;	margin: auto; color: #000; font-size: 15px;line-height: 1em;
     background: #ededed; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); -webkit-appearance: none;-webkit-box-shadow: 1px 1px 1px #fff;
 	  -webkit-border-radius: 0.5em; padding: 0.5em 1em 0.5em 0.75em;}
	  
/* map */
#ng-view, #ng-map {height: 100%}
#map-container {height:100%; width: 100%}

