<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "sardinia.app"
        versionCode = "21"
        version     = "1.0.0">

    <preference name="phonegap-version" value="cli-6.5.0" />
 
    <name>Tharros info Sardegna</name>
	<icon src="icon.png" />
	<splash src="splash.png" />
	<platform name="ios">
		<icon src="img/sardinia.png" />
		<icon src="img/icon-60@3x.png" width="180" height="180" />
		<!-- iPhone -->
		<icon src="img/icon-60@2x.png" width="120" height="120" />
		<!-- iPad -->
		<icon src="img/icon-76.png" gap:platform="ios" width="76" height="76" />
        <icon src="img/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
		<splash src="img/Default~iphone.png" width="320" height="480"/>
		<splash src="img/Default@2x~iphone.png" width="640" height="960"/>
		<splash src="img/Default-Portrait~ipad.png" width="768" height="1024"/>
		<splash src="img/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
		<splash src="img/Default-Landscape~ipad.png" width="1024" height="768"/>
		<splash src="img/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
		<splash src="img/Default-568h@2x~iphone.png" width="640" height="1136"/>
		<splash src="img/Default-667h.png" width="750" height="1334"/>
		<splash src="img/Default-736h.png" width="1242" height="2208"/>
		<splash src="img/Default@2x~universal~anyany.png" />
	 </platform>
 
    <description>
        Discover Sardinia by Tharrosinfo
    </description>
 
    <author href="https://www.tharros.info/" email="webmaster@tharros.info">
        Timbert Kriek
    </author>
	
	<access origin="*://phonegap.com/*" subdomains="true" />
	<access origin="*://*.tharros.info/*" subdomains="true" />
	<access origin="*://*.googleapis.com/*" subdomains="true" />
	<access origin="*://*.gstatic.com/*" subdomains="true" />
	<access origin="*://*.google.com/*" subdomains="true" />
	<access origin="*://*.googleusercontent.com/*" subdomains="true" />

	<gap:platform name="android" />
	<gap:platform name="ios" />

	<preference name="android-minSdkVersion" value="10" />
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
	<preference name="exit-on-suspend" value="true" />
	<platform name="ios" >
		<preference name="StatusBarOverlaysWebView" value="false" />
		<preference name="StatusBarBackgroundColor" value="#000000" />
		<preference name="SplashScreen" value="splash" />
	</platform>
	
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-keyboard" source="npm" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-file" source="npm" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	
 
</widget>