<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "sardinia.app"
        versionCode = "14"
        version     = "0.9.3">

    <preference name="phonegap-version" value="cli-5.2.0" />
 
    <name>Tharros info Sardegna</name>
    <icon src="img/favicon.png" />
 
    <description>
        Discover Sardinia by Tharrosinfo
    </description>
 
    <author href="http://www.tharros.info/" email="webmaster@tharros.info">
        Timbert Kriek
    </author>
	
	<access origin="*://phonegap.com/*" subdomains="true" />
	<access origin="*://www.tharros.info/*" subdomains="true" />
	<access origin="*://*.googleapis.com/*" subdomains="true" />
	<access origin="*://*.gstatic.com/*" subdomains="true" />
	<access origin="*://*.google.com/*" subdomains="true" />
	<access origin="*://*.googleusercontent.com/*" subdomains="true" />

	<gap:platform name="android" />

	<preference name="android-minSdkVersion" value="10" />
	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-camera" source="npm" />
	<gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-file" source="npm" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" />
	<gap:plugin name="cordova-plugin-media" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	
 
</widget>