<!-- index.html -->
    <!DOCTYPE html>	 
	<!-- define angular app -->
    <html>
    <head>
	  
		<!-- SCROLLS -->
		<!-- load bootstrap and fontawesome -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" /> 
		<link rel="stylesheet" href="css/style.css" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      
    </head>
    <body ng-controller="indexController">

        <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container-fluid">
				<div class="navbar-header">	
					<a class="navbar-brand" href="#!" ng-click="" ng-show="$root.siteinfo"><i class="fa fa-chevron-left"></i></a>
					<a class="navbar-brand" href="" ng-click="showLeft($event)" ng-show="!$root.siteinfo"><i class="fa fa-list"></i></a>
					<a class="navbar-brand header" href="#!">Tharros.info Sardegna</a>
				</div>
			</div>
            </nav>
        </header>
		
		<menu visible="leftVisible" alignment="left">
    		<menu-item hash="#!"><i class="fa fa-home"></i> {{ 'SITES' | translate }}</menu-item>
			<menu-item hash="#!map"><i class="fa fa-globe"></i> {{ 'MAP' | translate }}</menu-item>
    		<menu-item hash="#!about"><i class="fa fa-shield"></i> {{ 'HELP' | translate }}</menu-item>
   	 		<menu-item hash="#!contact"><i class="fa fa-comment"></i> {{ 'CONTACT' | translate }}</menu-item>
		</menu>
		

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
			<!-- angular templating -->
            <!-- this is where content will be injected -->
			<div ng-view id="ng-view" autoscroll="true"></div>
        </div>
		
		
	<!-- SPELLS -->
	<script src="phonegap.js"></script>
    <!-- load angular and angular route -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script> 
	<script src="js/ui-bootstrap-tpls-0.13.4.min.js"></script>
	<script src="js/ngGeolocation.min.js"></script>
	<script src="js/angular-confirm.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/angular-translate.min.js"></script>
	<script src="js/ng-map.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/services.js"></script>
	<script type="text/javascript">
		angular.element(document).ready(function () {
			if (window.cordova) {
				document.addEventListener('deviceready', function () {
					window.device = device.platform;
					angular.bootstrap(document.body, ['TharrosApp']);
				}, false);
			} else {
				console.log("Running in browser, bootstrapping AngularJS now.");
				window.device = "Browser" ;
				angular.bootstrap(document.body, ['TharrosApp']);
			}
		});
	</script>
	</body>
    </html>
